<header>
    <h1>Pr치ctica Integradora</h1>
    <nav>
        <ul>
            <li><a href="/product">Productos</a></li>
            <li><a href="/newProduct">A침adir producto</a></li>
            <li>
                <a href="/product/{{this_.id}}">{{this.name}}</a> - ${{this.price}}
                <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
            </li>
        </ul>

        <div>
            {{#if hasPrevPage}}
                <a href="{{prevLink}}">P치gina anterior</a>
            {{/if}}

            {{#if hasNextPage}}
                <a href="{{nextLink}}">P치gina siguiente</a>
            {{/if}}
        </div>
    </nav>
</header>